.App {
  text-align: center;
  padding: 20px;
}

.title {
  color: #33333370;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}

.board {
  padding: 20px;
  overflow: hidden;
  width: 400px;
  min-height: 150px;
  padding-bottom: 60px;
  background-color: #FEFEFE;
  margin: 0px auto;
  box-shadow: 0px 0px 5px #44444440;
  position: relative;
}

.todos {
  widows: 100%;
}